{% extends 'blog/layout.html' %}

{% load static %}



{% block content %}

<div class="relative mb-6 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:mb-8">
      <img src="{{ blog.article_head_photo.url }}" loading="lazy" alt="{{ blog.title }}" class="h-40 md:h-80 w-full object-cover object-center" />
    </div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-md px-4 md:px-8">



    <h1 class="mb-4 text-center text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6">
      {{ blog.title }}
    </h1>

    <div class="relative mb-6 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:mb-8">
      <img src="{{ blog.cover_photo.url }}" loading="lazy" alt="Photo by Minh Pham" class="h-full w-full object-cover object-center" />
    </div>

    <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
      {{ blog.text|safe  }}
    </p>

    <a href="{% url 'blog' %}" class="inline-block rounded-lg bg-gray-400 px-5 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-gray-600 focus-visible:ring active:bg-gray-700 md:text-base">Назад</a>


  </div>
</div>

{% endblock %}